<% params[:inflacion] ||= 0 %>
<% params[:ipc] ||= 0 %>
<div class="div-principal">
  <div class="d-flex justify-content-center">
    <%= form_with(url: root_path, method: :get) do |f| %>
      <input type="hidden" name="partial" value="dashboard"/>
      <input type="hidden" name="active" value="proyeccion"/>
      <select name="years[]" multiple="multiple" style="display:none;">
        <% params[:years]&.each do |year| %>
          <option selected="selected" value="<%= year %>"><%= year %></option>
        <% end %>
      </select>
      <div class="d-flex align-items-center my-5 flex-wrap">
        <label for="select1" class="px-4">Inflación:</label>
        <%= f.number_field :inflacion, value: params[:inflacion] %>
        <label for="select2" class="px-4">IPC:</label>
        <%= f.number_field :ipc, value: params[:ipc] %>
      </div>
      <div class="d-flex align-items-center my-5 flex-wrap">
        <div class="px-1">
          <%= f.submit "Proyectar", class: "button rounded-pill" %>
        </div>
      </div>
    <% end %>
  </div>
  <% if params[:years].present? && params[:inflacion].present? && params[:ipc].present? %>
    <% data_proyeccion = EstimatedProjectionService.new(@compact_data, params[:inflacion].to_f, params[:ipc].to_f).call %>
    <% labels = data_proyeccion[:labels].to_json %>
    <% series = [{name: "serie_proyeccion", data: data_proyeccion[:series]}].to_json %>
    <% result_complete = data_proyeccion[:result_complete] %>
    <div>
      <H2> Estimación de Rubros(GASTOS) para la siguiente Vigencia </H2>
      <table class="table table-striped table-bordered nowrap datatable-dashboard" style="width:100%">
        <thead>
          <tr>
            <th>Concepto</th>
            <th>Proyeccion</th>
          </tr>
        </thead>
        <tbody>
          <% result_complete.each do |data| %>
            <tr>
              <% data.each do |column| %>
                <td> <%= column %> </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div 
        data-controller="chart-data-variacion"
        data-chart-data-variacion-labels-value="<%= labels %>"
        data-chart-data-variacion-series-value="<%= series %>"
        data-chart-data-variacion-title-value="Estimación de Rubros Gráfica"
      >
        <div data-target="chart-data-variacion.chart"></div>
      </div>
    </div>

    <% data_proyeccion_ingresos = EstimatedProjectionService.new(@compact_data_ingresos, params[:inflacion].to_f, params[:ipc].to_f).call %>
    <% labels_ingresos = data_proyeccion_ingresos[:labels].to_json %>
    <% series_ingresos = [{name: "serie_proyeccion", data: data_proyeccion_ingresos[:series]}].to_json %>
    <% result_complete_ingresos = data_proyeccion_ingresos[:result_complete] %>
    <div>
      <H2> Estimación de Rubros(INGRESOS) para la siguiente Vigencia </H2>
      <table class="table table-striped table-bordered nowrap datatable-dashboard" style="width:100%">
        <thead>
          <tr>
            <th>Concepto</th>
            <th>Proyeccion</th>
          </tr>
        </thead>
        <tbody>
          <% result_complete_ingresos.each do |data| %>
            <tr>
              <% data.each do |column| %>
                <td> <%= column %> </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div 
        data-controller="chart-data-variacion"
        data-chart-data-variacion-labels-value="<%= labels_ingresos %>"
        data-chart-data-variacion-series-value="<%= series_ingresos %>"
        data-chart-data-variacion-title-value="Estimación de Rubros Gráfica"
      >
        <div data-target="chart-data-variacion.chart"></div>
      </div>
    </div>
  <% end %>
</div>
<script>
$(document).ready(function() {
  $('.datatable-proyeccion').DataTable({
    paging: true,
    ordering: false,
    searching: true,
    lengthChange: true,
    pageLength: 10,
    responsive: true,
    language: {
      lengthMenu: "Mostrar _MENU_ filas por página",
      zeroRecords: "No se encontraron resultados",
      info: "Mostrando página _PAGE_ de _PAGES_",
      infoEmpty: "No hay registros disponibles",
      infoFiltered: "(filtrado de _MAX_ registros totales)",
      search: "Buscar:",
      paginate: {
        previous: "Anterior",
        next: "Siguiente"
      },
    },
    dom: 'Blfrtip',
    buttons: [
       {
            extend: 'collection',
            text: 'Exportar',
            buttons: [
                { extend: 'copy', className: 'btn-info' },
                { extend: 'csv', className: 'btn-info' },
                { extend: 'excel', className: 'btn-info', title: 'XLS-File' },
                { extend: 'pdf', className: 'btn-info', title: $('title').text() },
            ],
            className: 'btn rounded-pill dropdown-toggle'
        }
    ]
  });
});
</script>
