<% periodos = Periodo.all&.pluck(:fecha).map { |fecha| Date.parse(fecha).strftime("%Y/%m/%d") }.sort %>
<% conceptos = Concepto.all.order(:nombre).pluck(:nombre, :id) %>
<% conceptos_options = conceptos&.map { |nombre, id| [nombre, id.to_s] } %>
<% params[:fecha_inicio] ||= periodos.last %>
<% params[:fecha_fin] ||= periodos.last %>

<div class="div-principal">
  <%= form_with(url: root_path, method: :get) do |f| %>
    <input type="hidden" name="partial" value="dashboard"/>
    <div class="d-flex align-items-center my-5">
      <label for="select1" class="pe-4">Periodo Inicio:</label>
      <%= f.select :fecha_inicio, options_for_select(periodos, params[:fecha_inicio]), {}, { class: 'select-class1' } %>
      <label for="select2" class="px-4">Periodo Fin:</label>
      <%= f.select :fecha_fin, options_for_select(periodos, params[:fecha_fin]), {}, { class: 'select-class1' } %>
      <label for="select2" class="px-4">Conceptos:</label>
      <%= f.select :conceptos, options_for_select(conceptos_options, params[:conceptos]), { include_blank: true }, { class: 'select-class1', multiple: true } %>
      <div class="px-4">
        <%= f.submit "Filtrar", class: "button rounded-pill" %>
      </div>
    </div>
  <% end %>
  <% if params[:conceptos].present? %>
    <% params[:conceptos].compact.reject(&:blank?).each do |concepto_id| %>
      <% concepto_data = PresupuestoConcepto.filter_concepto_dashboard(Date.parse(params[:fecha_inicio]), Date.parse(params[:fecha_fin]), concepto_id) %>
      <% labels = concepto_data.map { |concepto| Date.parse(concepto.periodo_fecha.to_s).strftime("%m/%d/%Y") }.to_json %>
      <% series = [
        { name: 'Recaudo Mes', data: concepto_data.pluck(:recaudo_mes) },
        { name: 'Ejecución %', data: concepto_data.pluck(:ejecucion) },
      ].to_json %>
      <div 
        data-controller="charts-apex"
        data-charts-apex-labels-value="<%= labels %>"
        data-charts-apex-series-value="<%= series %>"
        data-charts-apex-title-value="<%= concepto_data.first.concepto_nombre %>"
      >
        <div data-target="charts-apex.chart"></div>
      </div>
    <% end %>
  <% end %>
</div>
<script>
$(document).ready(function() {
  $('.select-class1').select2({
    placeholder: 'Buscar opciones...',
    noResultsText: 'No se encontraron resultados'
  });
});
</script>
