<% periodos = Periodo.all.pluck(:fecha)&.map { |fecha| Date.parse(fecha).strftime("%Y/%m/%d") }.sort %>
<% params[:fecha_inicio] ||= periodos.last %>
<% params[:fecha_fin] ||= periodos.last %>
<% presupuestos_conceptos = PresupuestoConcepto.filter_dashboard(Date.parse(params[:fecha_inicio]), Date.parse(params[:fecha_fin])) %>
<div class="div-principal">
  <%= render "layouts/flash_messages" %>
  <%= form_with(url: root_path, method: :get) do |f| %>
    <div class="d-flex align-items-center my-5">
      <label for="select1" class="pe-4">Periodo Inicio:</label>
      <%= f.select :fecha_inicio, options_for_select(periodos, params[:fecha_inicio]), {}, { class: 'select-class1' } %>
      <label for="select2" class="px-4">Periodo Fin:</label>
      <%= f.select :fecha_fin, options_for_select(periodos, params[:fecha_fin]), {}, { class: 'select-class1' } %>
      <div class="px-4">
        <%= f.submit "Filtrar", class: "button rounded-pill" %>
      </div>
    </div>
  <% end %>
  <table id="datatablePrincipal" class="table table-striped table-bordered nowrap" style="width:100%">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Concepto</th>
        <th>Fecha</th>
        <th>Presupuesto Inicial</th>
        <th>Adici칩n Modificacion Mes</th>
        <th>Adici칩n Modificacion Acumulado</th>
        <th>Presupuesto Definitivo</th>
        <th>Recaudo Mes</th>
        <th>Recaudo Acumulado</th>
        <th>Porcentaje Ejecucion</th>
        <th>Saldo Por Recaudar</th>
      </tr>
    </thead>
    <tbody>
      <% presupuestos_conceptos.each do |presupuesto_concepto| %>
      <% fecha_formato = Date.parse(presupuesto_concepto.periodo_fecha.to_s) %>
      <tr>
        <td><%= presupuesto_concepto.concepto_codigo %></td>
        <td><%= presupuesto_concepto.concepto_nombre %></td>
        <td><%= I18n.localize(fecha_formato, format: '%B %Y', locale: @locale) %></td>
        <td><%= presupuesto_concepto.presupuesto_inicial %></td>
        <td><%= presupuesto_concepto.adicion_modificacion_mes %></td>
        <td><%= presupuesto_concepto.adicion_modificacion_acumulado %></td>
        <td><%= presupuesto_concepto.presupuesto_definitivo %></td>
        <td><%= presupuesto_concepto.recaudo_mes %></td>
        <td><%= presupuesto_concepto.recaudo_acumulado %></td>
        <td><%= presupuesto_concepto.ejecucion %> %</td>
        <td><%= presupuesto_concepto.saldo_por_recaudar %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
$(document).ready(function() {
  $('#datatablePrincipal').DataTable({
    paging: true,
    ordering: true,
    searching: true,
    lengthChange: true,
    pageLength: 10,
    responsive: true,
    language: {
      lengthMenu: "Mostrar _MENU_ filas por p치gina",
      zeroRecords: "No se encontraron resultados",
      info: "Mostrando p치gina _PAGE_ de _PAGES_",
      infoEmpty: "No hay registros disponibles",
      infoFiltered: "(filtrado de _MAX_ registros totales)",
      search: "Buscar:",
      paginate: {
        previous: "Anterior",
        next: "Siguiente"
      },
    },
    dom: 'Blfrtip',
    buttons: [
       {
            extend: 'collection',
            text: 'Exportar',
            buttons: [
                { extend: 'copy', className: 'btn-info' },
                { extend: 'csv', className: 'btn-info' },
                { extend: 'excel', className: 'btn-info', title: 'XLS-File' },
                { extend: 'pdf', className: 'btn-info', title: $('title').text() },
            ],
            className: 'btn rounded-pill dropdown-toggle'
        }
    ]
  });
});
$(document).ready(function() {
  $('.select-class1').select2({
    placeholder: 'Buscar opciones...',
    noResultsText: 'No se encontraron resultados'
  });
});
</script>
